{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}WQ-post{% endblock %}


{% block page_content %}
<div>
<ul class="posts">

    <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                     src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>

        <div class="post-content">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        </div>
    <br/>
    <br/>

            <div class="post-body">
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}">
                    <span class="label label-primary ">编辑</span>
                </a>
                {% elif current_user.email == 'wuqiangroy@live.com' %}
                <a href="{{ url_for('main.edit_post', id=post.id) }}">
                    <span class="label label-primary ">编辑[管理员]</span>
                </a>
                {% endif %}
            </div>


</ul>
    </div>
<div>
<h4 id="comments">评论：</h4>
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
</div>
{% endif %}
</div>

{% if current_user.is_authenticated %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
{% endif %}
{% endblock %}