{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WQ-发布文章{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <div>
        <h4>温馨提示：请使用Markdown语法发布文章，Markdown语法请参考：
            <a href="http://xianbai.me/learn-md/article/about/helloworld.html">
            Markdown语法</a>
        </h4>
    </div>
        <h1 style="text-align:center">发布文章</h1>
</div>

<div class="col-lg-11">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}